<a href="https://colab.research.google.com/github/bitanb1999/Summer-Analytics-2021/blob/main/SA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Summer Analytics Capstone Project

####Pre-requisites

In [33]:
import numpy as np
import scipy.stats
import scipy.special
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
from matplotlib import cm
import pandas as pd
from sklearn.pipeline import make_pipeline, make_union, Pipeline
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import ParameterGrid
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from keras.models import Sequential
from keras.models import Model as KerasModel
from keras.layers import Input, Dense, Activation, Reshape
from keras.layers import Concatenate
from keras.layers.embeddings import Embedding
from sklearn.ensemble import RandomForestRegressor
from sklearn import linear_model
import pickle
import csv
from datetime import datetime
from sklearn import preprocessing
from keras.callbacks import ModelCheckpoint
import xgboost as xgb
from sklearn.preprocessing import OneHotEncoder

#Pipeline
from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

#For Missing Value and Feature Engineering
from sklearn.feature_selection import SelectKBest, chi2, f_classif, VarianceThreshold
from sklearn.impute import SimpleImputer, KNNImputer, MissingIndicator
from sklearn.preprocessing import KBinsDiscretizer, LabelEncoder, MinMaxScaler
from sklearn.decomposition import PCA

from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from xgboost import XGBClassifier

import time
import seaborn as sns
%matplotlib inline

In [18]:
## getting the data
train=pd.read_csv("/content/Train_Data.csv")
test=pd.read_csv("/content/Test_Data.csv")

In [4]:
train.head()

         date    campaign    adgroup    ad  ...  clicks  cost  conversions  revenue
0  01-08-2020  campaign 1  adgroup 1  ad 1  ...       6  0.08            0     0.00
1  01-08-2020  campaign 1  adgroup 2  ad 1  ...       0  0.00            0     0.00
2  01-08-2020  campaign 1  adgroup 3  ad 1  ...       4  0.04            0     0.00
3  01-08-2020  campaign 1  adgroup 4  ad 1  ...       4  0.08            0     0.00
4  01-08-2020  campaign 1  adgroup 1  ad 2  ...     126  1.29            4   925.71

[5 rows x 9 columns]

In [5]:
test.head()

         date    campaign    adgroup  ... impressions  clicks  conversions
0  01-03-2021  campaign 1  adgroup 1  ...         121      49            1
1  01-03-2021  campaign 1  adgroup 3  ...          22      12            0
2  01-03-2021  campaign 1  adgroup 4  ...           5       3            0
3  01-03-2021  campaign 1  adgroup 2  ...           2       1            0
4  01-03-2021  campaign 1  adgroup 2  ...           3       1            0

[5 rows x 8 columns]

In [6]:
#helper function to view the table content details
from IPython.display import display, HTML

def pretty_print(df):
    return display( HTML( df.to_html().replace("\\n","<br>") ) )
def tbl_report(tbl, cols=None, card=52):
    print("Table Shape", tbl.shape)
    dtypes = tbl.dtypes
    nulls = []
    uniques = []
    numuniques = []
    vcs = []
    for col in dtypes.index:
        n = tbl[col].isnull().sum()
        nulls.append(n)
        strdtcol = str(dtypes[col])
        #if strdtcol == 'object' or strdtcol[0:3] == 'int' or strdtcol[0:3] == 'int':
        #print(strdtcol)
        uniqs = tbl[col].unique()
        uniquenums = uniqs.shape[0]
        if uniquenums < card: # low cardinality
            valcounts = pd.value_counts(tbl[col], dropna=False)
            vc = "\n".join(["{}:{}".format(k,v) for k, v in valcounts.items()])
        else:
            vc='NA'
        uniques.append(uniqs)
        numuniques.append(uniquenums)
        vcs.append(vc)
    nullseries = pd.Series(nulls, index=dtypes.index)
    uniqueseries = pd.Series(uniques, index=dtypes.index)
    numuniqueseries = pd.Series(numuniques, index=dtypes.index)
    vcseries = pd.Series(vcs, index=dtypes.index)
    df = pd.concat([dtypes, nullseries, uniqueseries, numuniqueseries, vcseries], axis=1)
    df.columns = ['dtype', 'nulls', 'uniques', 'num_uniques', 'value_counts']
    if cols:
        return pretty_print(df[cols])
    return pretty_print(df)

In [7]:
tbl_report(train)

Table Shape (4571, 9)

In [8]:
tbl_report(test)

Table Shape (318, 8)

In [10]:
train.columns[4:-1]

Index(['impressions', 'clicks', 'cost', 'conversions'], dtype='object')

In [25]:
#making the training and the testing datasets based on the given values
df=train[train.columns[4:-1]]
df.head()

   impressions  clicks  cost  conversions
0           24       6  0.08            0
1            1       0  0.00            0
2           13       4  0.04            0
3            5       4  0.08            0
4          247     126  1.29            4

In [26]:
dftest=test[train.columns[4:-1]]
dftest.head()

   impressions  clicks  cost  conversions
0          121      49  0.58            1
1           22      12  0.17            0
2            5       3  0.05            0
3            2       1  0.01            0
4            3       1  0.01            0

Efficiency metrics (optional - can be used for creating new features/feature engineering): 

The below features can be newly created/calculated and used while building the models. These are based on raw metrics. 

CTR - Clicks / Impression (higher the better - used to evaluate if the users find the ad relevant)

CPC - Cost / Click (lower the better - used to evaluate if the cost for getting a click)

CPA - Cost / Conversion (lower the better - used to evaluate if the cost for getting a conversion)

ROI - Revenue/Cost (higher the better - used to evaluate the effectiveness of the advertising budget spent

In [27]:
#feature engineering
df['ctr']=df['clicks']/df['impressions']

dftest['ctr']=dftest['clicks']/dftest['impressions']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [28]:
df.head()

   impressions  clicks  cost  conversions       ctr
0           24       6  0.08            0  0.250000
1            1       0  0.00            0  0.000000
2           13       4  0.04            0  0.307692
3            5       4  0.08            0  0.800000
4          247     126  1.29            4  0.510121

In [29]:
dftest.head()

   impressions  clicks  cost  conversions       ctr
0          121      49  0.58            1  0.404959
1           22      12  0.17            0  0.545455
2            5       3  0.05            0  0.600000
3            2       1  0.01            0  0.500000
4            3       1  0.01            0  0.333333

In [30]:
tbl_report(df)

Table Shape (4571, 5)

In [39]:
st=StandardScaler()
df[df.columns]=st.fit_transform(df[df.columns])
dftest[dftest.columns]=st.transform(dftest[dftest.columns])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [40]:
df.head()

   impressions    clicks      cost  conversions       ctr
0    -0.346072 -0.372834 -0.189472    -0.256367 -0.818558
1    -0.462041 -0.432742 -0.195043    -0.256367 -1.895981
2    -0.401535 -0.392804 -0.192258    -0.256367 -0.569922
3    -0.441873 -0.392804 -0.189472    -0.256367  1.551773
4     0.778328  0.825321 -0.105211     0.509425  0.302486

In [41]:
dftest.head()

   impressions    clicks      cost  conversions       ctr
0     0.143017  0.056505 -0.154654    -0.064919 -0.150734
1    -0.356156 -0.312927 -0.183205    -0.256367  0.454760
2    -0.441873 -0.402788 -0.191562    -0.256367  0.689834
3    -0.456999 -0.422758 -0.194347    -0.256367  0.258865
4    -0.451957 -0.422758 -0.194347    -0.256367 -0.459417

In [42]:
y=train['revenue']

In [43]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(3199, 5)
(1372, 5)

In [44]:
model = Sequential()
model.add(Dense(5000, input_dim=5, activation= "relu"))
model.add(Dense(1000, activation= "relu"))
model.add(Dense(500, activation= "relu"))
model.add(Dense(1))
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_8 (Dense)              (None, 5000)              30000
_________________________________________________________________
dense_9 (Dense)              (None, 1000)              5001000
_________________________________________________________________
dense_10 (Dense)             (None, 500)               500500
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 501
=================================================================
Total params: 5,532,001
Trainable params: 5,532,001
Non-trainable params: 0
_________________________________________________________________

In [45]:
model.compile(loss= "mean_squared_error" , optimizer="adam", metrics=["mean_squared_error"])
model.fit(X_train, y_train, epochs=100)

Epoch 1/100
100/100 [==============================] - 7s 63ms/step - loss: 1256714.3963 - mean_squared_error: 1256714.3963
Epoch 2/100
100/100 [==============================] - 6s 62ms/step - loss: 195620.5107 - mean_squared_error: 195620.5107
Epoch 3/100
100/100 [==============================] - 6s 61ms/step - loss: 114605.3010 - mean_squared_error: 114605.3010
Epoch 4/100
100/100 [==============================] - 6s 62ms/step - loss: 223730.3370 - mean_squared_error: 223730.3370
Epoch 5/100
100/100 [==============================] - 6s 61ms/step - loss: 47742.2876 - mean_squared_error: 47742.2876
Epoch 6/100
100/100 [==============================] - 6s 62ms/step - loss: 128741.3786 - mean_squared_error: 128741.3786
Epoch 7/100
100/100 [==============================] - 6s 61ms/step - loss: 55373.6471 - mean_squared_error: 55373.6471
Epoch 8/100
100/100 [==============================] - 6s 62ms/step - loss: 84387.3310 - mean_squared_error: 84387.3310
Epoch 9/100
100/100 [==============================] - 6s 61ms/step - loss: 77574.5879 - mean_squared_error: 77574.5879
Epoch 10/100
100/100 [==============================] - 6s 61ms/step - loss: 72548.5331 - mean_squared_error: 72548.5331
Epoch 11/100
100/100 [==============================] - 6s 61ms/step - loss: 71246.9985 - mean_squared_error: 71246.9985
Epoch 12/100
100/100 [==============================] - 6s 62ms/step - loss: 66434.3235 - mean_squared_error: 66434.3235
Epoch 13/100
100/100 [==============================] - 6s 61ms/step - loss: 71172.0330 - mean_squared_error: 71172.0330
Epoch 14/100
100/100 [==============================] - 6s 61ms/step - loss: 294175.7637 - mean_squared_error: 294175.7637
Epoch 15/100
100/100 [==============================] - 6s 61ms/step - loss: 108368.3962 - mean_squared_error: 108368.3962
Epoch 16/100
100/100 [==============================] - 6s 62ms/step - loss: 53115.6368 - mean_squared_error: 53115.6368
Epoch 17/100
100/100 [==============================] - 6s 61ms/step - loss: 81249.8945 - mean_squared_error: 81249.8945
Epoch 18/100
100/100 [==============================] - 6s 61ms/step - loss: 46176.5918 - mean_squared_error: 46176.5918
Epoch 19/100
100/100 [==============================] - 6s 61ms/step - loss: 48946.5587 - mean_squared_error: 48946.5587
Epoch 20/100
100/100 [==============================] - 6s 62ms/step - loss: 52843.8274 - mean_squared_error: 52843.8274
Epoch 21/100
100/100 [==============================] - 6s 62ms/step - loss: 51861.0373 - mean_squared_error: 51861.0373
Epoch 22/100
100/100 [==============================] - 6s 61ms/step - loss: 86353.4033 - mean_squared_error: 86353.4033
Epoch 23/100
100/100 [==============================] - 6s 61ms/step - loss: 84528.4161 - mean_squared_error: 84528.4161
Epoch 24/100
100/100 [==============================] - 6s 61ms/step - loss: 53589.0994 - mean_squared_error: 53589.0994
Epoch 25/100
100/100 [==============================] - 6s 61ms/step - loss: 62459.7740 - mean_squared_error: 62459.7740
Epoch 26/100
100/100 [==============================] - 6s 62ms/step - loss: 125847.4559 - mean_squared_error: 125847.4559
Epoch 27/100
100/100 [==============================] - 6s 61ms/step - loss: 55858.8823 - mean_squared_error: 55858.8823
Epoch 28/100
100/100 [==============================] - 6s 61ms/step - loss: 55718.3887 - mean_squared_error: 55718.3887
Epoch 29/100
100/100 [==============================] - 6s 61ms/step - loss: 67787.3050 - mean_squared_error: 67787.3050
Epoch 30/100
100/100 [==============================] - 6s 61ms/step - loss: 56013.1396 - mean_squared_error: 56013.1396
Epoch 31/100
100/100 [==============================] - 6s 63ms/step - loss: 51163.3653 - mean_squared_error: 51163.3653
Epoch 32/100
100/100 [==============================] - 6s 62ms/step - loss: 118655.6384 - mean_squared_error: 118655.6384
Epoch 33/100
100/100 [==============================] - 6s 62ms/step - loss: 43471.4529 - mean_squared_error: 43471.4529
Epoch 34/100
100/100 [==============================] - 6s 62ms/step - loss: 49440.3253 - mean_squared_error: 49440.3253
Epoch 35/100
100/100 [==============================] - 6s 61ms/step - loss: 89084.5391 - mean_squared_error: 89084.5391
Epoch 36/100
100/100 [==============================] - 6s 62ms/step - loss: 76418.6630 - mean_squared_error: 76418.6630
Epoch 37/100
100/100 [==============================] - 6s 62ms/step - loss: 72912.6996 - mean_squared_error: 72912.6996
Epoch 38/100
100/100 [==============================] - 6s 62ms/step - loss: 54192.9849 - mean_squared_error: 54192.9849
Epoch 39/100
100/100 [==============================] - 6s 61ms/step - loss: 92901.8267 - mean_squared_error: 92901.8267
Epoch 40/100
100/100 [==============================] - 6s 62ms/step - loss: 73307.0452 - mean_squared_error: 73307.0452
Epoch 41/100
100/100 [==============================] - 6s 63ms/step - loss: 45098.7864 - mean_squared_error: 45098.7864
Epoch 42/100
100/100 [==============================] - 6s 61ms/step - loss: 55406.2796 - mean_squared_error: 55406.2796
Epoch 43/100
100/100 [==============================] - 6s 62ms/step - loss: 73451.6890 - mean_squared_error: 73451.6890
Epoch 44/100
100/100 [==============================] - 6s 61ms/step - loss: 71444.1466 - mean_squared_error: 71444.1466
Epoch 45/100
100/100 [==============================] - 6s 62ms/step - loss: 76252.1435 - mean_squared_error: 76252.1435
Epoch 46/100
100/100 [==============================] - 6s 61ms/step - loss: 45074.9341 - mean_squared_error: 45074.9341
Epoch 47/100
100/100 [==============================] - 6s 62ms/step - loss: 141552.5464 - mean_squared_error: 141552.5464
Epoch 48/100
100/100 [==============================] - 6s 61ms/step - loss: 67022.3944 - mean_squared_error: 67022.3944
Epoch 49/100
100/100 [==============================] - 6s 62ms/step - loss: 55632.5582 - mean_squared_error: 55632.5582
Epoch 50/100
100/100 [==============================] - 6s 62ms/step - loss: 61998.2444 - mean_squared_error: 61998.2444
Epoch 51/100
100/100 [==============================] - 6s 62ms/step - loss: 66571.3720 - mean_squared_error: 66571.3720
Epoch 52/100
100/100 [==============================] - 6s 62ms/step - loss: 51497.1347 - mean_squared_error: 51497.1347
Epoch 53/100
100/100 [==============================] - 6s 61ms/step - loss: 49911.4455 - mean_squared_error: 49911.4455
Epoch 54/100
100/100 [==============================] - 6s 61ms/step - loss: 89060.6661 - mean_squared_error: 89060.6661
Epoch 55/100
100/100 [==============================] - 6s 62ms/step - loss: 54943.1599 - mean_squared_error: 54943.1599
Epoch 56/100
100/100 [==============================] - 6s 62ms/step - loss: 59454.1999 - mean_squared_error: 59454.1999
Epoch 57/100
100/100 [==============================] - 6s 62ms/step - loss: 61489.9186 - mean_squared_error: 61489.9186
Epoch 58/100
100/100 [==============================] - 6s 62ms/step - loss: 53715.1945 - mean_squared_error: 53715.1945
Epoch 59/100
100/100 [==============================] - 6s 62ms/step - loss: 59817.6701 - mean_squared_error: 59817.6701
Epoch 60/100
100/100 [==============================] - 6s 62ms/step - loss: 64183.9127 - mean_squared_error: 64183.9127
Epoch 61/100
100/100 [==============================] - 6s 62ms/step - loss: 90928.1908 - mean_squared_error: 90928.1908
Epoch 62/100
100/100 [==============================] - 6s 62ms/step - loss: 123490.0979 - mean_squared_error: 123490.0979
Epoch 63/100
100/100 [==============================] - 6s 62ms/step - loss: 67429.5709 - mean_squared_error: 67429.5709
Epoch 64/100
100/100 [==============================] - 6s 62ms/step - loss: 46349.1985 - mean_squared_error: 46349.1985
Epoch 65/100
100/100 [==============================] - 6s 62ms/step - loss: 86749.7731 - mean_squared_error: 86749.7731
Epoch 66/100
100/100 [==============================] - 6s 63ms/step - loss: 57047.0605 - mean_squared_error: 57047.0605
Epoch 67/100
100/100 [==============================] - 6s 62ms/step - loss: 35917.8966 - mean_squared_error: 35917.8966
Epoch 68/100
100/100 [==============================] - 6s 62ms/step - loss: 99213.0441 - mean_squared_error: 99213.0441
Epoch 69/100
100/100 [==============================] - 6s 62ms/step - loss: 59808.1167 - mean_squared_error: 59808.1167
Epoch 70/100
100/100 [==============================] - 6s 62ms/step - loss: 71594.5224 - mean_squared_error: 71594.5224
Epoch 71/100
100/100 [==============================] - 6s 62ms/step - loss: 59613.3183 - mean_squared_error: 59613.3183
Epoch 72/100
100/100 [==============================] - 6s 62ms/step - loss: 43699.7346 - mean_squared_error: 43699.7346
Epoch 73/100
100/100 [==============================] - 6s 62ms/step - loss: 39109.2390 - mean_squared_error: 39109.2390
Epoch 74/100
100/100 [==============================] - 6s 62ms/step - loss: 47409.1749 - mean_squared_error: 47409.1749
Epoch 75/100
100/100 [==============================] - 6s 62ms/step - loss: 96730.8391 - mean_squared_error: 96730.8391
Epoch 76/100
100/100 [==============================] - 6s 62ms/step - loss: 94394.6524 - mean_squared_error: 94394.6524
Epoch 77/100
100/100 [==============================] - 6s 61ms/step - loss: 56806.0304 - mean_squared_error: 56806.0304
Epoch 78/100
100/100 [==============================] - 6s 62ms/step - loss: 66519.5575 - mean_squared_error: 66519.5575
Epoch 79/100
100/100 [==============================] - 6s 62ms/step - loss: 61215.9089 - mean_squared_error: 61215.9089
Epoch 80/100
100/100 [==============================] - 6s 62ms/step - loss: 56315.5525 - mean_squared_error: 56315.5525
Epoch 81/100
100/100 [==============================] - 6s 62ms/step - loss: 37634.2010 - mean_squared_error: 37634.2010
Epoch 82/100
100/100 [==============================] - 6s 62ms/step - loss: 48626.0850 - mean_squared_error: 48626.0850
Epoch 83/100
100/100 [==============================] - 6s 62ms/step - loss: 59163.0526 - mean_squared_error: 59163.0526
Epoch 84/100
100/100 [==============================] - 6s 62ms/step - loss: 77951.4571 - mean_squared_error: 77951.4571
Epoch 85/100
100/100 [==============================] - 6s 62ms/step - loss: 55113.6411 - mean_squared_error: 55113.6411
Epoch 86/100
100/100 [==============================] - 6s 61ms/step - loss: 50054.2390 - mean_squared_error: 50054.2390
Epoch 87/100
100/100 [==============================] - 6s 62ms/step - loss: 77125.6282 - mean_squared_error: 77125.6282
Epoch 88/100
100/100 [==============================] - 6s 62ms/step - loss: 38789.7310 - mean_squared_error: 38789.7310
Epoch 89/100
100/100 [==============================] - 6s 62ms/step - loss: 39282.1926 - mean_squared_error: 39282.1926
Epoch 90/100
100/100 [==============================] - 6s 62ms/step - loss: 72408.7244 - mean_squared_error: 72408.7244
Epoch 91/100
100/100 [==============================] - 6s 63ms/step - loss: 53792.9981 - mean_squared_error: 53792.9981
Epoch 92/100
100/100 [==============================] - 6s 62ms/step - loss: 53163.6231 - mean_squared_error: 53163.6231
Epoch 93/100
100/100 [==============================] - 6s 62ms/step - loss: 56430.4270 - mean_squared_error: 56430.4270
Epoch 94/100
100/100 [==============================] - 6s 63ms/step - loss: 40881.6013 - mean_squared_error: 40881.6013
Epoch 95/100
100/100 [==============================] - 6s 62ms/step - loss: 47574.8585 - mean_squared_error: 47574.8585
Epoch 96/100
100/100 [==============================] - 6s 62ms/step - loss: 48270.6045 - mean_squared_error: 48270.6045
Epoch 97/100
100/100 [==============================] - 6s 62ms/step - loss: 55807.5793 - mean_squared_error: 55807.5793
Epoch 98/100
100/100 [==============================] - 6s 62ms/step - loss: 44523.1197 - mean_squared_error: 44523.1197
Epoch 99/100
100/100 [==============================] - 6s 62ms/step - loss: 50053.0614 - mean_squared_error: 50053.0614
Epoch 100/100
100/100 [==============================] - 6s 63ms/step - loss: 47707.5740 - mean_squared_error: 47707.5740

In [46]:
pred_train= model.predict(X_train)
print(np.sqrt(mean_squared_error(y_train,pred_train)))

pred= model.predict(X_test)
print(np.sqrt(mean_squared_error(y_test,pred)))

205.5967582522318
223.13020706498818

In [47]:
test['revenue']=model.predict(dftest)

In [52]:
test['revenue']=[y if y>0 else 0 for y in test.revenue]

In [55]:

test['revenue']=[np.round(y)for y in test.revenue]

In [62]:
np.mean(test['revenue'])

130.88679245283018

In [63]:
sample_sub=pd.read_csv("/content/Sample_Submission.csv")

In [66]:
sample_sub['revenue']=test['revenue']

In [68]:
sample_sub.to_csv("/content/Submission.csv")